body {
    background-color: rgb(228, 234, 255);
}
.Nav{
    text-align: center;
}
.Navbar{
    background-color: rgb(72, 72, 83);
}
.jumbotron{
    text-align: center;
}
button {
    margin: 12px;
}
.btn{
    border: solid rgb(236, 236, 236) 1px;
}
input {
    margin: 12px;
}

.user-name {
    width: 200px;
}

label {
    margin: 12px;
}

.projects {
    margin: 12px;
    font-size: 36px;
    text-align: center;
}

.res-card {
    height: 200px;
    width: 100%;
    background-color: rebeccapurple;
    border-radius: 6px;
    margin: 12px;
    color: white;
}