body {
    background-color: papayawhip;
}

button {
    margin: 12px;
}

input {
    margin: 12px;
}

.user-name {
    width: 200px;
}

label {
    margin: 12px;
}

.project-header {
    margin: 12px;
    font-size: 36px;
}