body {
    background-color: rgb(228, 234, 255);
}
.Nav{
    text-align: center;
    overflow: hidden;
}
.Navbar{
    background-color: rgb(72, 72, 83);
}
.jumbotron{
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(166, 88, 179), rgb(228, 234, 255));
   
}
.display-4 {
    font-size: 100px;
    color: white;
}
.lead{
    color: white;
}
button {
    margin: 12px;
}
.btn{
    border: solid rgb(236, 236, 236) 1px;
}
input {
    margin: 12px;
}

.user-name {
    width: 200px;
}

label {
    margin: 12px;
}

.projects {
    margin: 12px;
    font-size: 36px;
    text-align: center;
}

.res-card {
    height: 200px;
    width: 100%;
    background-color: rebeccapurple;
    border-radius: 6px;
    margin: 12px;
    color: white;
}
.icon{
    color: white;
    padding-right: 20px;
    text-indent: 20px;
    font-family: Arial Narrow;
    font-weight: bold;;
}
.modal-title{
    text-indent:20px;
}
.form-control{
    margin-left: auto;
}
/*sticky for navbar*?
/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  

  .feature-projects{
      color:rgb(166, 88, 179);
  }